<div id="page-content">
    <div class="container-fluid">
        <div class="row" style="margin-bottom: 10px;height: 17px">
        </div>
        <div id="page-title">
            <h2>Dự án</h2>
        </div>
        <div class="panel">
            <div class="panel-body">
                <div class="col-md-12" style="border-width: 0px">
                    <div class="form-group">
                        <button type="button" class="btn btn-success btn-sm" id="btnAddDuan"
                                data-toggle="tooltip" data-placement="bottom" title="Thêm">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <span>Thêm</span>
                        </button>
                    </div>
                    <div class="form-group dxalign">
                        <table id="example"
                               class="table table-striped table-bordered stripe table-custom width-100">
                            <thead id="thead1">
                            <tr id="filter">
                                <th class="width-5"></th>
                                <th class="width-5"></th>
                                <th class="width-30"></th>
                                <th class="width-30"></th>
                                <th class="width-30"></th>
                            </tr>
                            <tr id="header">
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/Duan.js"></script>