<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Đăng nhập | TODA</title>
    <link rel="stylesheet" href="css/Lib/bootstrap.min.css">
    <link rel="stylesheet" href="css/Login.css">
    <script src="js/Lib/jquery-3.3.1.min.js"></script>
</head>
<body class="bg-gradient-4">
<div class="login">
    <form id="form1" method="get" action="login">
        <div class="hidden">
        </div>
        <div class="image">
            <img id="image1" src="images/logo-64.png" alt="Logo" height="100px">
        </div>
        <div class="control">
            <input name="username" type="text" id="txtusername" value="{{username}}" placeholder="Tên đăng nhập"
                   required="required">
            <input name="password" type="password" id="txtpassword" placeholder="Mật khẩu" required="required">
            <input type="submit" value="Đăng nhập" id="btnLogin" class="btn btn-primary btn-block btn-large">
        </div>
        <br>
        <div id="divError" style="color: white">{{txtErr}}</div>
    </form>
</div>
<div>
    <div class="copyright">
        COPYRIGHT © LAC HONG TECH., JSC . ALL RIGHTS RESERVED.
    </div>
</div>
<script>

</script>
</body>
</html>